<!-- start custom footer snippets -->
<div class="footer-links">
  <a href="https://www.reddit.com/r/WalletScrutiny"><i class="fab fa-reddit"></i>&nbsp;Reddit Community</a>
  <a href="mailto:info@WalletScrutiny.com"><i class="fas fa-envelope"></i>&nbsp;Contact</a>
  <a href="/donate/"><i class="fas fa-donate"></i>&nbsp;Donate</a>
</div>
<!-- end custom footer snippets -->
