<h3>20 most recent donations</h3>
<table><tr><th>Date</th><th>Amount</th><th>Category</th></tr>
<tr><td>7/12/2020</td><td>0.10849mBTC</td><td>Any</td></tr>
<tr><td>7/11/2020</td><td>0.53841mBTC</td><td>MoreOS</td></tr>
<tr><td>7/11/2020</td><td>0.10835mBTC</td><td>Any</td></tr>
<tr><td>7/9/2020</td><td>1.06653mBTC</td><td>Any</td></tr>
<tr><td>6/7/2020</td><td>0.10337mBTC</td><td>Any</td></tr>
<tr><td>6/7/2020</td><td>0.10337mBTC</td><td>Any</td></tr>
<tr><td>4/27/2020</td><td>0.25976mBTC</td><td>Any</td></tr>
<tr><td>4/1/2020</td><td>0mBTC</td><td>Any</td></tr>
<tr><td>3/31/2020</td><td>0mBTC</td><td>Any</td></tr>
<tr><td>3/29/2020</td><td>0mBTC</td><td>Any</td></tr>
<tr><td>3/17/2020</td><td>0.98421mBTC</td><td>MoreOS</td></tr>
<tr><td>3/13/2020</td><td>0mBTC</td><td>Any</td></tr>
<tr><td>3/10/2020</td><td>0mBTC</td><td>NonBitcoinWallets</td></tr>
<tr><td>3/6/2020</td><td>0mBTC</td><td>NonWalletApps</td></tr>
<tr><td>2/16/2020</td><td>0.20355mBTC</td><td>Any</td></tr>
<tr><td>2/16/2020</td><td>0.55887mBTC</td><td>Any</td></tr>
<tr><td>2/14/2020</td><td>0.29192mBTC</td><td>Any</td></tr>
<tr><td>2/13/2020</td><td>0.48047mBTC</td><td>Any</td></tr>
<tr><td>2/13/2020</td><td>0.0961mBTC</td><td>MoreWallets</td></tr>
<tr><td>2/13/2020</td><td>0.00097mBTC</td><td>NonBitcoinWallets</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
</table>
<h3>All donations by category</h3>
<table><tr><th>Category</th><th>Sum</th></tr>
<tr><td>Any</td><td>4.24265mBTC</td></tr>
<tr><td>MoreWallets</td><td>0.0961mBTC</td></tr>
<tr><td>FrequentUpdates</td><td>0mBTC</td></tr>
<tr><td>AdCampaign</td><td>0mBTC</td></tr>
<tr><td>MoreOS</td><td>1.52262mBTC</td></tr>
<tr><td>CodeReviews</td><td>0mBTC</td></tr>
<tr><td>NonBitcoinWallets</td><td>0.00097mBTC</td></tr>
<tr><td>Alerts</td><td>0.01231mBTC</td></tr>
<tr><td>NonWalletApps</td><td>0mBTC</td></tr>
<tr><th>Total</th><th>5.87465mBTC</th></tr></table>
