<div class="page-section">
{% include base_path %}

{% assign verdicts = "reproducible,nonverifiable,nosource,custodial" | split: "," %}
{% assign posts = site.posts | sort: "users" | reverse %}
<table id="gridOfWallets1">
  <tr>
    <td>
      0<br>Audited?
    </td>
    <td>
    </td>
  </tr>
  {% for v in verdicts %}
    {% case v %}
      {% when "reproducible" %}  {% assign vLabel = "Reproducible" %}
      {% when "nonverifiable" %} {% assign vLabel = "Not&nbsp;Verifiable" %}
      {% when "nosource" %}      {% assign vLabel = "Closed&nbsp;Source" %}
      {% when "custodial" %}     {% assign vLabel = "Custodial" %}
    {% endcase %}
    <tr>
      {% assign total = 0 %}
      {% for post in site.posts %}
        {% if post.verdict == v %}
          {% assign total = total | plus: 1 %}
        {% endif %}
      {% endfor %}
      <td>
        {{ total }}<br>{{ vLabel }}
      </td>
      <td>
        {% for post in posts %}
          {% if post.verdict == v %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">
              <img src="/images/wallet_icons/small/{{ post.icon }}" class="app_logo"
                alt="Wallet Logo" style="height:3em;width:auto;float:left;margin:0.3em">
            </a> 
          {% endif %}
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>
</div>