
<div class="page-section">
<div class="press-button-holder press-button-holder-EN activated">
  <i class="fas fa-check check"></i>
  <input type="button" class="activated" id="press_button_EN" value="English" onclick="fpress('EN');" />
</div>
<div class="press-button-holder press-button-holder-DE activated">
  <i class="fas fa-check check"></i>
<input type="button" class="activated" id="press_button_DE" value="Deutsch" onclick="fpress('DE');" />
</div>
<div class="press-button-holder press-button-holder-NL activated">
  <i class="fas fa-check check"></i>
<input type="button" class="activated" id="press_button_NL" value="Nederlands" onclick="fpress('NL');" />
</div>
<div class="press-button-holder press-button-holder-ES activated">
  <i class="fas fa-check check"></i>
<input type="button" class="activated" id="press_button_ES" value="Español" onclick="fpress('ES');" />
</div>

<span style="width: 100%;text-align: center;margin-bottom: 1rem;" class="help-text">Filter grid by publication language.</span>
<script>
  function fpress(el) {
    $( ".press-button-holder-" + el ).toggleClass( 'activated' );
    $( "#press_button_" + el ).toggleClass( 'activated' );
    $( ".press." + el ).toggleClass( 'hidden' );
  }
</script>


<div class="press-container">
{% for p in site.press | sort: "date" | reverse
  %}<div class="press {{ p.language }} {{ p.format }}"><a href="{{ p.link }}"
    title="{{ p.platform }} {{ p.publicationName }}"><img
      src="/images/press/{{ p.image }}"
      alt="{{ p.platform }} {{ p.publicationName }}"
      title="{{ p.platform }}
{{ p.publicationName }}
{{ p.date  | date: '%Y-%m-%d' }}
published by {{ p.author }}
language: {{ p.language }}
format: {{ p.format }}"
      style="height:8em;" /></a></div>{%
endfor %}
</div>


</div>