/* GENERAL STYLES */
:root{
  --accent: rgb(97, 200, 97);
  --accent-text: #4da84d;
  --rust: #d33100;
  --indifferent:#3d506d;
  --shadow-3: rgba(0,0,0,0.3);
  --shadow-2: rgba(0,0,0,0.2);

}

a{
  color: var(--accent-text);
}

body.modal-open {
  overflow: hidden;
}

@media (max-width:756px){
  #main{width: 100vw !important;}
  .walletSearch {
    width: 100% !important;
    border-radius: 10px;
}
}
/* END GENEERAL STYLES */

/* PRESS */


.press-button-holder > .check{
  display: none;
  transition: .4s ease;
  opacity: 0;
  transform-origin: center;
  transform: scale(0);
}
.press-button-holder.activated > .check{
  display: inline-block;
  opacity: 1;
  transform: scale(1);
  color: var(--accent, lightgreen);
}
.press-button-holder {
  border-radius: 5px;
  padding: 4px 8px;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
  -webkit-row-gap: 4px;
  -moz-row-gap: 4px;
  row-gap: 4px;
  margin-right: 0.5rem;
  margin-bottom: .5rem;
  background: #fff;
}
.press-button-holder:not(.activated) {
  opacity: .8;
}
.press-button-holder.activated {
  opacity: 1;
}
.press-button-holder input.activated {
  color: var(--accent-text);
}
.press-button-holder > input {
  border: 0;
  box-shadow: unset;
  margin: 0;
}
.press, .press > img {
  height: 8em;
  width: 8em;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 6px 10px -6px var(--shadow-3, rgba(0,0,0,0.3));
  background-color: #222;
  margin: .75rem;
}

.press:hover, .press:hover > img {
  box-shadow: 0px 8px 10px -4px var(--shadow-3, rgba(0,0,0,0.3));
}

.press-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

/* END PRESS */


/* HERO */


.help-text{
  font-size: 12px;
  font-weight: 500;
  opacity:.9;
}

.page-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 150px auto;
}

.hero-parent {
  width: 100%;
  display: grid;
  justify-content: center;
  margin-top: -4rem;
  grid-template-rows: 1fr 4fr 4fr;
  grid-template-columns: 1fr 3fr 2fr;
}

.hero-banner {
  grid-column: 1/4;
  grid-row: 1/4;
  margin: auto;
}



.hero-cta{
  grid-column: 2/3;
  grid-row: 2/4;
}

.hero-cta .page__title {
  font-size: 2.5rem;
}

.cta-learn-more {
  color: inherit;
  font-size: 1rem;
}

h2.section-label{
  text-align: center;
}



.press::before {
  position: absolute;
  font-size: 0.5rem;
  background: var(--accent-text, rgb(97, 200, 97));
  padding: .1rem .5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 4px;
  border-radius: 100px;
  color: #fff;
}
.press.EN::before{
content: "English";
}
.press.DE::before{
  content: "Deutsch";
}
.press.NL::before{
  content: "Nederlands";
}
.press.ES::before{
  content: "Español";
}
      


.results-list {
  margin: 0;
  list-style: none;
  padding: 0;
  max-height: 40vh;
  position: absolute;
  overflow: scroll;
  background: var(--white, #fff);
  box-shadow: 0px 30px 40px var(--shadow-2, rgba(0,0,0,0.2));
  border-radius: 5px;
}
.results-list li {
  padding: 10px 20px 10px 10px;
  margin: 0;
  transition: .2s ease;
}
.results-list li:not(:last-child) {
  box-shadow: 0px 1px 0px 0px var(--shadow-2, rgba(0,0,0,0.2));
}
.results-list-wallet-icon {
  max-height: 2rem;
  max-width: 2rem;
  border-radius: 2rem;
  background-color: #fff;
  margin: 10px;
}

.walletSearch {
  padding: 20px;
  width: auto;
}

.walletSearch::placeholder {

}

.results-list li a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-weight: 300;
}

.results-list li:hover, .results-list li:active, .results-list li:focus {
  background: lightgreen;
}

.cta-button.primary {
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  box-shadow: inset 0px 0px 0px 1px;
  border-radius: 3px;
  color: var(--accent-text, #61c861);
  transition: .2s ease;
}

.cta-button.primary:hover {
  background: var(--accent-text);
  color: #fff;
}

#gridOfWallets1, #gridOfWallets2, #gridOfWallets1 tr, #gridOfWallets2 tr, #gridOfWallets1 tr td, #gridOfWallets2 tr td {
  border: 0 !important;
}

#gridOfWallets1 tr > td:first-of-type, #gridOfWallets2 tr > td:first-of-type {
  min-width: 100px;
  font-weight:bold;
  background-color:#222;
  color:#fff;
}

#gridOfWallets1 tr, #gridOfWallets2 tr {
  margin: 1rem 0 1rem 0;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  transition: .2s ease;
  background-color: #fff;
}

#gridOfWallets1 tr:hover, 
#gridOfWallets2 tr:hover {

  box-shadow: 0px 5px 15px -3px var(--shadow-3, rgba(0,0,0,0.3));

}

#gridOfWallets2 img.app_logo {
  border-radius: 3px;
  border: 0 !important;
  box-shadow: 0 0 0 1px #222;
  width:auto;
  float:left;
  margin:0.3em;
  border-radius: 25%;
}

@media (max-width:756px){
.page {
  padding-left: 0% !important;
  padding-right: 0% !important;
}
.hero-banner {
  display: none;
}

.hero-cta {
  grid-column: 1/4;
}

.hero-parent {
  text-align: center;
  margin-bottom: 4rem;
}

.results-list {
  max-width: 90%;
}

#gridOfWallets1 tr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#gridOfWallets1 tr td, #gridOfWallets2 tr td {
  width: 100%;
}
#gridOfWallets1 tr, #gridOfWallets2 tr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


}


/* END HERO */



/* LIST OF WALLETS */

.app_info_box, .app_info_box strong {
  display: block;
  word-wrap: break-word;
}


.row-identifier{
  display: none;
  animation: intro 0.3s both;
  position: relative;
  z-index: 51;
}
.icon-row{
  width: 100%;
}

input.verdict-d-d-reproducible:checked ~ #tableofwallets div.row-identifier-reproducible,
input.verdict-d-d-nonverifiable:checked ~ #tableofwallets div.row-identifier-nonverifiable,
input.verdict-d-d-nosource:checked ~ #tableofwallets div.row-identifier-nosource,
input.verdict-d-d-custodial:checked ~ #tableofwallets div.row-identifier-custodial,
input.verdict-d-d-all:checked ~ #tableofwallets div.row-identifier{
  display: table-row !important;
}

.verdict-d-d-reproducible:checked ~ .label-reproducible,
.verdict-d-d-nonverifiable:checked ~ .label-nonverifiable,
.verdict-d-d-nosource:checked ~ .label-nosource,
.verdict-d-d-custodial:checked ~ .label-custodial,
.verdict-d-d-all:checked ~ .label-all {
  background: var(--accent);
  border-radius: 4px;
  color: #fff;
}

.input-org{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  position: relative;
}

.input-org label {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  margin: 2px 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.input-org label i {
  display: none;
}

input.verdict-d-d-reproducible:checked ~ .label-reproducible i{
  display: inline-block !important;
}

input.verdict-d-d-nonverifiable:checked ~ .label-nonverifiable i{
  display: inline-block !important;
}

input.verdict-d-d-nosource:checked ~ .label-nosource i{
  display: inline-block !important;
}

input.verdict-d-d-custodial:checked ~ .label-custodial i{
  display: inline-block !important;
}

input.verdict-d-d-all:checked ~ .label-all i{
  display: inline-block !important;
}


.AppDisplayCard .stamp::before{
  font-size: 10px;
  padding: 3px 10px;
  border-radius: 100px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
}

.stamp-reproducible::before{
  content: "reproducible";
  background: var(--accent);
}
.stamp-nonverifiable::before{
  content: "non-verifiable";
  background: var(--rust);
}
.stamp-nosource::before{
  background: var(--rust);
  content: "no-source";
}
.stamp-custodial::before{
  background: var(--rust);
  content: "custodial";
}
.stamp-all::before{
  background: var(--rust);
  content: "all";
}

.stamp-nobtc::before{
  background: var(--indifferent);
  content: "non-btc";
}
.stamp-wip::before{
  background: var(--indifferent);
  content: "development";
}
.stamp-fewusers::before{
  background: var(--indifferent);
  content: "few users";
}
.stamp-defunct::before{
  background: var(--rust);
  content: "defunct";
}
.stamp-nowallet::before{
  background: var(--indifferent);
  content: "not a wallet";
}

.flex-r {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  -webkit-row-gap: 10px;
  -moz-row-gap: 10px;
  row-gap: 10px;
}

.card-expand-close {
  float: right;
}



.input-org input:first-of-type, .input-org label:first-of-type{
  grid-column: 1/2;
  grid-row: 1/2;  }

.input-org input:nth-of-type(2), .input-org label:nth-of-type(2){
  grid-column: 2/3;
  grid-row: 1/2;  }

.input-org input:nth-of-type(3), .input-org label:nth-of-type(3){
  grid-column: 3/4;
  grid-row: 1/2;  }

.input-org input:nth-of-type(4), .input-org label:nth-of-type(4){
  grid-column: 4/5;
  grid-row: 1/2;  }

.input-org input:nth-of-type(5), .input-org label:nth-of-type(5){
  grid-column: 5/6;
  grid-row: 1/2;  }


@media (max-width:756px){
.input-org{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto 1fr;
}

.input-org input:first-of-type, .input-org label:first-of-type{
  grid-column: 1/2;
  grid-row: 1/2;  }

.input-org input:nth-of-type(2), .input-org label:nth-of-type(2){
  grid-column: 2/3;
  grid-row: 1/2;  }

.input-org input:nth-of-type(3), .input-org label:nth-of-type(3){
  grid-column: 1/2;
  grid-row: 2/3;  }

.input-org input:nth-of-type(4), .input-org label:nth-of-type(4){
  grid-column: 2/3;
  grid-row: 2/3;  }

.input-org input:nth-of-type(5), .input-org label:nth-of-type(5){
  grid-column: 1/3;
  grid-row: 3/4;  }

  .input-org #tableofwallets {
  grid-column: 1/3 !important;
  grid-row: 4/5 !important;
}

.flexi-list {
  justify-content: center !important;
}

}



.input-org input{
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 2;
}



.input-org #tableofwallets{
  grid-column: 1/6;
  grid-row: 2/3;
  margin: auto;
}

.flexi-list > div {
  margin: .5rem .5rem;
  padding: .75rem;
  background: #fff;
  border-radius: 10px;
  transition: .2s ease;
}
.flexi-list > div:hover {
  box-shadow: 0px 5px 5px -2px var(--shadow-3, rgba(0,0,0,0.3));
}
.flexi-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  position: relative;
}
.input-org > #modal {
  position: fixed !important;
  z-index: 1 !important;
}
.AppDisplayCard.opened {
  background: #fff;
  max-width: 90vw;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 50px var(--shadow-3);
}

.item-detail-container {
  max-width: calc(90vw - 2rem);
}

.AppDisplayCard.opened .card-expand-close {
  position: absolute;
  right: 0;
}
.AppDisplayCard.opened .card-expand-close:first-child {
  display:none !important;
}
.AppDisplayCard.opened .card-expand-close.card-close {
  display:block !important;
  z-index: 99999;
}
.AppDisplayCard.opened > div:first-of-type {
  width: 100% !important;
}

.AppDisplayCard.opened .item-detail-container{
  display:block !important;
  margin: 1rem auto;
}

.AppDisplayCard.opened .item-detail-container table td, .AppDisplayCard.opened .item-detail-container table {
  border: 0;
}

.AppDisplayCard.opened .item-detail-container table tr:not(:last-of-type) {
  box-shadow: inset 0px -1px 0 var(--shadow-2);
}

.temp_card {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100vh;
  width: 100vw;
  align-content: center;
  justify-content: center;
  background-color: var(--shadow-3);
  background-image: radial-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7) 50%,transparent 50%);
  background-size: 3px 3px;
  z-index: 999;
}

.flexi-list.opened::after{
content: "";
height: 100vh;
width: 100vw;
display: block;
position: fixed;
z-index: 53;
background: rgba(0,0,0,0.3);
top: 0;
left: 0;
pointer-events: none;
}



/* END LIST OF WALLETS */


/* SIDEBAR LIST */

.logo_name_bundle{
  position: relative;
  border-radius: 100px;
  transition: .2s ease;
}

.logo_name_bundle:hover a span{
  color: #fff;
}
.logo_name_bundle:hover{
  background: #222;;
}

#sidebarWalletList .app_logo {
  display: inline-block;
  border-radius: 2px;
  /* background-color: #222; */
  height: 1rem;
  width: auto;
  margin-right: 0.5em;
}

#sidebarWalletList .app_name{
  text-overflow: ellipsis;
  overflow: hidden;
  width:100%;
  text-overflow:ellipsis;
  overflow:hidden;
  width:100%;
  white-space:nowrap
}


#sidebarWalletList a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #222;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding: 2px 5%;
}

/* END SIDEBAR LIST */